<h1>Editing auto drop dead</h1>

<%= render "form", auto_drop_dead: @auto_drop_dead %>

<br>

<div>
  <%= link_to "Show this auto drop dead", @auto_drop_dead %> |
  <%= link_to "Back to auto drop deads", auto_drop_deads_path %>
</div>
