<p style="color: green"><%= notice %></p>

<h1>Auto drop deads</h1>

<div id="auto_drop_deads">
  <% @auto_drop_deads.each do |auto_drop_dead| %>
    <%= render auto_drop_dead %>
    <p>
      <%= link_to "Show this auto drop dead", auto_drop_dead %>
    </p>
  <% end %>
</div>

<%= link_to "New auto drop dead", new_auto_drop_dead_path %>
