<h1>New auto drop dead</h1>

<%= render "form", auto_drop_dead: @auto_drop_dead %>

<br>

<div>
  <%= link_to "Back to auto drop deads", auto_drop_deads_path %>
  <%= link_to 'Back to User', user_path(@user_id) %>
</div>
