<p style="color: green"><%= notice %></p>

<h1>Game History</h1>

<ol>
  <% @game_history.auto_drop_deads.each_with_index do |auto_drop_dead, index| %>
    <li>
      <%= link_to "Game ##{index+1} (#{auto_drop_dead.datetime.strftime("%Y-%m-%d || %H:%M")})", auto_drop_dead_path(auto_drop_dead) %>
    </li>
  <% end %>
</ol>

<% if @game_history.user.present? %>
  <%= link_to 'Back to User', user_path(@game_history.user) %>
<% else %>
  <p>User not found.</p>
<% end %>