<body style="font-family: Arial, sans-serif; background-color: #f2f2f2; text-align: center;">

  <div style="background-color: #fff; width: 300px; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); display: inline-block;">
    <h1 style="color: #333;">Sign-Up</h1>

    <form action="<%= signup_path %>" method="post" style="text-align: left;">
      
      <label for="username" style="font-weight: bold;">Username:</label><br>
      <input type="username" id="username" name="user[username]" required style="width: calc(100% - 20px); padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;"><br>
      
      <label for="email" style="font-weight: bold;">Email:</label><br>
      <input type="email" id="email" name="user[email]" required style="width: calc(100% - 20px); padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;"><br>

      <label for="password" style="font-weight: bold;">Password:</label><br>
      <input type="password" id="password" name="user[password]" required style="width: calc(100% - 20px); padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px;"><br>

      <button type="submit" style="background-color: #333; color: #fff; padding: 10px 20px; margin: 10px 0 0 0; border: none; border-radius: 5px; cursor: pointer;">Register</button>
    </form>
    <p style="margin-top: 15px;">Have an account already? <a href="/signin" style="color: #474747; text-decoration: underline;">Sign In</a></p>
  </div>

</body>
