<h1>Editing player manager</h1>

<%= render "form", player_manager: @player_manager %>

<br>

<div>
  <%= link_to "Show this player manager", @player_manager %> |
  <%= link_to "Back to player managers", player_managers_path %>
</div>
